<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BAKSO NGOKOS</h1>
    <P>Bakso ini beralamat:jl.jembatan baru,gladak anyar,kecamatan pamekasan,kabupaten pamekasan,jawa timur.jam buka
        09.00-21.00.
        Bakso adalah makanan khas indonesia yang di gemari banyak orang,selain rasanya yang enak bakso juga 
        digemari karna ada menu pedasnya sehingga orang suka dengan bakso apa lagi orang indonesia sangat gemar dengan
        rasa pedas</P>
    <a href="/produk">Produk</a>
    
</body>
</html>