<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MENU</h1>
    <ul>
        <li>bakso ngokos beranak</li>
        <li>bakso mercon</li>
        <li>bakso dower</li>
        <li>bakso dower beranak</li>
        <li>bakso urat</li>
        <li>bakso original</li>
        <li>bakso iga</li>
        <li>bakso telur</li>
        <li>est teh</li>
        <li>es jeruk</li>
        <li>es jeruk nipis</li>
        <li>es teh hijau</li>
        <li>air mineral</li>
    </ul>
    <a href="/home">HOME</a>
</body>
</html>